body{
    text-align: center;
    align-self: center;
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: auto;
}

.background-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: linear-gradient(#0E30E9, #FEFEFD);
    background-repeat: repeat-y;
    background-position: center top;
    background-attachment: fixed;
}

.fixed-image img{
    position: fixed;
    width:5%;
    bottom: 1px;
    left: 1px;
    z-index: 9999;
}
/* Style for individual sections */
.about-section {
    margin: 20px;
    padding: 20px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 5px 3px 4px rgba(0, 0, 0, 0.5);
    text-align: left;
}

.about-section h2 {
    font-size: 24px;
    margin: 10px 0;
    color: #333;
}

.about-section p {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
}

.about-section ul {
    list-style-type: disc;
    margin-left: 20px;
}

.about-section a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #007BFF;
    font-weight: 600;
}
.about-section img{
    width:50%;
    margin:auto;
}

/* Style for the embedded iframe */
iframe {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 20px 0;
    border: none;
}

@media (max-width: 768px) {

    main {
        margin-left: 5%;
        margin-right: 5%;
        width: 90%; /* Adjust the width for smaller screens */
    }

    .fixed-image img{
        width:10%;
     position: fixed;
     bottom: 20px;
     left: 5px;
     z-index: 9999;
 }
 
 .fixed-image img {
     width: 100px;
     height: auto; 
     border: none; 
 }

}