/* Global styles for the main content */
body {
    text-align: center;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    background-color: #FEFEFD;
    color: #333;
    background-image: linear-gradient(#0E30E9, #FEFEFD);
    background-repeat: repeat-y;
    background-position: center top;
    background-attachment: fixed;
}
    
/* ------------------Orange umbrella------------------ */
.fixed-image img {
    position: fixed;
    width: 100px;
    bottom: 20px;
    left: 5px;
    z-index: 9999;
}

/* Other global styles for the main content */
main {
    width: 80%;
    margin: auto;
    
}

h1 {
    padding-top: 10px;
    color:#0E30E9;
    text-decoration:underline;
    font-size: 2em;
}

h2 {
    padding-top: 10px;
    color:#0E30E9;
    text-decoration:underline;
}

h3 {
    padding-top: 10px;
    color:#0E30E9;
    text-decoration:underline;
}

a{
    text-decoration-style: none;

}

div {
    margin: auto; /* Center the main content horizontally and add top margin */
    border-radius: 5px;
    padding-bottom: 5px;
}

section {
    background: url(elewhite.jpg);
    background-size: cover;
    border-radius: 5px;
    box-shadow: 5px 3px 4px rgba(0, 0, 0, 0.5);
    padding-bottom: 20px;
    margin:10px;
}

section p{
    margin-left: 10%;
    margin-right: 10%;
}



/* Style for the introduction section */
.introduction {
    display: flex;
    text-align: center; 
    background: url(elewhite.jpg);
    background-size: cover;
    padding: 0 0 0 0;
}

.intro-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.introImg {
    max-width: 200px; 
    margin: 10px;
    flex: 1; 
}

.intro-content p {
    flex: 2; 
    text-align: center;
    padding: 10px;
    margin: 10px ; 
}

.intro-content a {
    text-decoration: none;
    color:black;
    margin: 0;
}



/* 3 inline divs with responsive flex layout styles */
.inlineDiv {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 20px;
    color: #ffffff;
}

.divBox {
    flex-basis: 30%;
    text-align: center;
    color: #ffffff;
    background-color:  #0E89E9;
    border: solid;
    border-color: #7286f3;
    border-width: 1px;
    border-radius: 5px;
    padding: 2px;
    margin: 2px;
    box-shadow: 5px 3px 4px rgba(0, 0, 0, 0.5);
}

.divBox h3{
    color: #ffffff;
    font-size: 30px;
    margin:0px;
    padding:0px;
}

.divBox img {
    max-width: 80%;
    height: auto;
    padding: 10px;
    background-color: #0E89E9;
}

.divBox p {
    text-align: center;
    font-size: 14px;
}

.divBoxLink{
    padding:10px;
    background-color: #0E30E9;
}

.divBox a:visited {
    color: #ffffff;
}


/* ------------ feedback form section--------------   */
/* ------------ feedback form section--------------   */
#formSection {
    display: none;
}

#feedbackForm, #youthFeedback, #volunteerForm {
    display: none;
    width: 640px;
    /* Set appropriate height for each form */
    height: 1110px;
}

/* Media queries for smaller screens */
@media (max-width: 768px) {

    .fixed-image img{
       width:10%;
    position: fixed;
    bottom: 20px;
    left: 5px;
    z-index: 9999;
}

.fixed-image img {
    width: 100px;
    height: auto; 
    border: none; 
}

    .introduction {
        text-align: center;
        display: block;
        margin: auto;
        padding: 0px;
    }
    
    .intro-content p{
        padding:0 10px;
    }

    .introImg {
        width:80%; 
        margin:auto;
        flex: 1; 
    }


    main {
        margin-left: 5%;
        margin-right: 5%;
        width: 90%; /* Adjust the width for smaller screens */
    }

    .bNb {
        Width:80%;
        border-radius: 5px;
        box-shadow: 5px 3px 4px rgba(0, 0, 0, 0.5);
    }

    .dailyContentFriday h2{
        color: #367A3F;
        margin: 10px;
    
    }
    
    .dailyGroups{
        flex-direction: column;
    }

    .hubLink {
        color: #0E30E9;
        text-decoration: none;
    }

    .divBox {
        flex-basis: 80%;
        margin-bottom: 20px;
    }

    .socialBtns a {
        text-align: center;
        color: black;
        padding: 0 0 0 0;
        margin: 0 0 0 0; 
    }
    
    .socialBtns a img{
        width: 50%;
    }
    
    .feedback img{
    width:50%;
}

    footer {
        flex-direction: column;
    }


}
