.slideshow-container {
    position: relative;
    margin: 0 auto;
}

.slide {
    display: none;
}

.slide img {
    max-height: 300px;

}

.controls {
    text-align: center;
    margin-top: 20px;
}

button {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 18px;
}

button:hover {
    background-color: #555;
}