/* Header styles */
header {
    text-align: center;
    background-color: #1B1F3B;
    width: 100%;
    border-style: solid;
    border-width: 1.5px;
    border-radius: 10px;
    box-shadow: 5px 3px 4px rgba(0, 0, 0, 0.5);
    margin: -25px 0 auto;
}

.logo {
    display: block;
    max-width: 600px;
    padding: 20px;
    margin: auto;
    background-color: #1B1F3B;
}

.navigation {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%;
    margin: auto;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    border-width: 1px;
    align-content: center;
}

ul {
    background-color: #1B1F3B;
    display: flex;
    text-decoration: none;
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
    margin: 20px;
}

a:visited {
    text-decoration: none;
}

/* Style for the About dropdown */
.navigation .dropdownAbout {
    position: relative;
}

.dropdownAbout span{
    color: white;
}

.dropdown-contentAbout {
    display: none;
    position: absolute;
    background-color: #1B1F3B;
    list-style: none;
    border-radius: 10px;
    padding: 0;
    margin:0 -20px;
    text-align: left;
}

/* Display the dropdown as a block */
.navigation .dropdownAbout:hover .dropdown-contentAbout {
    display: block;
}

/* Style for hovered dropdown items */
.dropdown-contentAbout a:hover {
    background-color: #0E30E9;
    border-radius: 5px;
    background-size: 50%;
    max-width: fit-content;
}

/* Make the dropdown items look like links */
.dropdown-contentAbout a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 0 25px;
    margin: 10px;
    cursor: pointer;
}

/* Style for the Projects dropdown */
.navigation .dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1B1F3B;
    list-style: none;
    border-radius: 10px;
    padding: 0;
    text-align: left;
    margin: 0 -20px;
}

/* Display the dropdown as a block */
.navigation .dropdown:hover .dropdown-content {
    display: block;
}

/* Style for hovered dropdown items */
.dropdown-content a:hover {
    background-color: #0E30E9;
    border-radius: 5px;
    background-size: 50%;
    max-width: fit-content;
}

/* Make the dropdown items look like links */
.dropdown-content a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 0 30px;
    margin: 10px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .logo {
        width: 80%;
    }

    .navigation {
        width: 99%;
    }

    .navigation ul {
        display: flex;
        padding: 5px 0px;
        margin: 5px;
    }

    .navigation a {
        width: 100%;
        margin: 5px;
    }

    .dropdown-content {
        display: none;
        background-color: #1B1F3B;
        padding: 0 20px;
        margin: 0 -20px;
       
    }

    .dropdown-contentAbout {
        display: none;
        background-color: #1B1F3B;
        padding: 0 20px;
        margin: 0 -21px;
    }

    .navigation .dropdownAbout:hover .dropdown-contentAbout,
    .navigation .dropdown:hover .dropdown-content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 0 20px;
        text-align: left;
        max-width: fit-content;
    }

    .dropdown-contentAbout a:hover,
    .dropdown-content a:hover {
        background-color: #0E30E9;
        border-radius: 5px;
        background-size: 50%;
        max-width: fit-content;
    }

    .dropdown-content a {
        max-width: 100%;
        white-space: nowrap;
        padding: 5px;
        margin: 5px 0;
    }

    .dropdown-contentAbout a {
        max-width: 100%;
        white-space: nowrap;
        padding: 5px;
        margin: 5px 0;
    }
}
.dropdownAbout span, .dropdown span{
    color: white;
}