/* Header styles */
header {
    display: flex;
    flex-direction: column;
    width: 70%;
    min-height: fit-content;
    background-color: #ffffff;
    border-radius: 5px;
    margin: auto;
    margin-top: -50px;
    box-shadow: 5px 3px 4px rgba(0, 0, 0, 0.5);
}

/* Header container styles */
.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Header image styles */
.headerImg {
    display: inline-flex;
    padding-top: 50px;
    margin-right: 20px;
    width: 40%;
    height: auto;
}

/* Navigation container styles */
.navigationContainer {
    display: flex;
    flex-direction: column;
}

/* Upper navigation styles */
.upperNav {
    background-color: #0E30E9;
    border-radius: 5px;
    padding-top: 30px;
    margin-bottom: 20px;
    box-shadow: 5px 3px 4px rgba(0, 0, 0, 0.3);
}

.upperNav ul {
    list-style: none;
    margin: 0;
    padding: 20px;
    width: 100%;
}

.upperNav a {
    display: inline-flex;
    align-items: center;
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
    transition: color 0.3s;
    padding: 5px 10px;
    border-radius: 5px;
    gap: 20px;
}

.upperNav a:hover {
    color: #FC0613;
    background-color: #FFFFFF;
    box-shadow: 5px 3px 4px rgba(0, 0, 0, 0.2);
}

/* Lower navigation styles */
.lowerNav {
    display: inline-flex;
    flex-direction: column;
    text-align: right;
}

.lowerNav ul {
    list-style: none;
    margin: 0;
    padding: 10px;
    background-color: #fff;
}

.lowerNav a {
    display: inline;
    font-size: 18px;
    color: #0E30E9;
    text-decoration: none;
    margin-bottom: 10px;
    transition: color 0.3s;
    border-style: solid;
    padding: 10px;
    border-radius: 5px;
    border-width: 2px;
    box-shadow: 5px 3px 4px rgba(0, 0, 0, 0.2);
}

.lowerNav a.selected {
    font-weight: bold;
    color: #FC0613
}

.lowerNav a:hover {
    color: #FC0613;
}
