header {
    align-self: center;
    text-align: center;
    background-color:#0E89E9;
    width:100%;
    border-style: solid;
    border-width: 1.5px;
    border-radius: 10px;
    box-shadow: 5px 3px 4px rgba(0, 0, 0, 0.5);
    margin:-25px 0 auto;
    
}
.logo{
    display: block;
    max-width: 600px;
    padding: 20px;
    margin: auto;
    
}

.navigation {
    display: inline-flex;
    background-color: #0E30E9;
    flex-wrap: wrap;
    flex-direction: column;
    width:100%;
    margin: auto;
    border-radius: 10px;
    align-content: center;
}

ul {
    background-color: #0E30E9;
    display: flex;
    text-decoration: none;
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
    margin:20px ;
    
}
a:visited {
    text-decoration: none;
}

/* Style for the About dropdown */
.navigation .dropdownAbout {
    position: relative;
}

.dropdown-contentAbout {
    display: none;
    position: absolute;
    background-color: #0E30E9; /* Background color of the dropdown */
    list-style: none;
    border-radius: 10px;
    padding: 0;
    text-align: center; /* Center text within the dropdown */
}

.navigation .dropdownAbout:hover .dropdown-contentAbout {
    display: block; /* Show dropdown on hover */
}

.dropdown-contentAbout a {
    color: white; /* Color for dropdown links */
    text-decoration: none;
    display: block;
    padding: 0 25px;
    margin: 10px auto; /* Center the links horizontally */
}

.navigation .dropdownAbout:hover .dropdown-contentAbout a:hover {
    background-color: #0E89E9; /* Background color for hovered dropdown items */
}

/*    style for services dropdown      */
.navigation .dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #0E30E9; /* Background color of the dropdown */
    list-style: none;
    border-radius: 10px;
    padding: 0;
    text-align: center; /* Center text within the dropdown */
}

.navigation .dropdown:hover .dropdown-content {
    display: block; /* Show dropdown on hover */
}

.dropdown-content a {
    color: white; /* Color for dropdown links */
    text-decoration: none;
    display: block;
    padding: 0 30px;
    margin: 10px auto; /* Center the links horizontally */
}

.navigation .dropdown:hover .dropdown-content a:hover {
    background-color: #0E89E9; /* Background color for hovered dropdown items */
}


@media (max-width: 768px) {
    header {
        padding-top: 10px;
        margin-top: -10px;
        border-radius: 10px;
    }

    .logo {
        width: 80%;
    }

    .navigation ul {
        display: flex;
        padding: 5px 35px;
        margin: 5px;
        /* Change to a block layout for smaller screens */
    }

    .navigation a {
        width: 100%;
        margin: 5px;
    }

    .dropdown-content {
        display: none; /* Hide dropdowns by default on smaller screens */
        background-color: #0E30E9; /* Background color for dropdown items */
        padding:0 20px;
        margin:0 -21px;
    }
    
    .dropdown-contentAbout{
        display: none; /* Hide dropdowns by default on smaller screens */
        background-color: #0E30E9; /* Background color for dropdown items */
        padding:0 20px;
        margin:0 -21px;
    }

    .navigation .dropdownAbout:hover .dropdown-contentAbout,
    .navigation .dropdown:hover .dropdown-content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 0 20px;
        text-align: left;
        max-width: fit-content;
    }

    .dropdown-contentAbout a:hover,
    .dropdown-content a:hover {
        background-color: #0E89E9;
        border-radius: 5px;
        background-size: 50%;
        max-width: fit-content;
        
    }

    .dropdown-content a {
        max-width: 100%; /* Ensure the dropdown items stay on one line */
        white-space: nowrap; /* Prevent text from wrapping to the next line */
        padding: 5px; /* Adjust the padding as needed */
        margin: 5px 0; /* Adjust the margin as needed */
    }

    .dropdown-contentAbout a {
        max-width: 100%; /* Ensure the dropdown items stay on one line */
        white-space: nowrap; /* Prevent text from wrapping to the next line */
        padding: 5px; /* Adjust the padding as needed */
        margin: 5px 0; /* Adjust the margin as needed */
    }
    
}