/* Global styles for the main content */
body {
    text-align: center;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    background-color: #FEFEFD;
    color: #333;
    background-image: linear-gradient(#0E30E9, #FEFEFD);
    background-repeat: repeat-y;
    background-position: center top;
    background-attachment: fixed;
}
    
/* ------------------Orange umbrella------------------ */
.fixed-image img {
    position: fixed;
    width: 100px;
    bottom: 20px;
    left: 5px;
    z-index: 9999;
}

/* Other global styles for the main content */
main {
    width: 80%;
    margin:20px auto;
    
}

h1 {
    text-decoration:underline;
}

h2 {
    text-decoration:underline;
    padding:5px;
    margin:10px;
}

h3 {
    text-decoration:underline;
}

a{
    text-decoration-style: none;

}

div {
    margin: auto; /* Center the main content horizontally and add top margin */
    border-radius: 5px;
    padding-bottom: 5px;
}

section {
    background: url(elewhite.jpg);
    background-size: cover;
    border-radius: 5px;
    box-shadow: 5px 3px 4px rgba(0, 0, 0, 0.5);
}

section p{
    margin-left: 10%;
    margin-right: 10%;
}



/* Style for the introduction section */
.introduction {
    display: flex;
    text-align: center; 
    justify-content: center;
    align-items: center;
    background: url(elewhite.jpg);
    background-size: cover;
    padding:5px;
}

.intro-content {
    flex-direction: column;
    flex:2;
}

.intro-content h1{
    margin:5px;
    font-size: 2em;
}

.introImg {
    max-width: 200px;
    flex: 1; 
}

.intro-content p {
    text-align: center;
    padding: 10px;
    margin: 10px ; 
}

.intro-content a {
        text-decoration: none;
        color: #0E30E9;
        margin:0;
}

/* ------------------------------ daily content HTML ------------------------*/

#dailyContent{
    padding:0;
    margin:0;
}

.bNb {
    width: 40%;
    max-width: 400px;
    border-radius: 5px;
    box-shadow: 5px 3px 4px rgba(0, 0, 0, 0.5);
}

.dailyContentMonday {
    margin: 20px;
}

.dailyContentMonday .bNb {
    width: 60%;
    max-width: 400px;
    border-style: solid;
    border-color: black;
    border-width:2px;
    border-radius: 5px;
    box-shadow: 5px 3px 4px rgba(0, 0, 0, 0.5);
}

.dailyGroups{
    display:flex;
}

.dailyContent1{
    margin:0;
   flex:1;
}

.dailyContent2{
    flex:1;
}

.dailyTxt h3{
    margin:0;
}

.dailyContentThursday .dailyContent2{
    margin:0;
}

.dailyContentThursday .dailyContent2 img {
    width:52%;
    padding:10px;
    margin:auto;
}

.dailyContentThursday .dailyContent1 img {
    width:100%;
    margin:auto;
}

.dailyContentThursday .dailyContent2 ul {
    display:flex;
    flex-direction: column;
    max-width: 400px;
    background-image: linear-gradient(#FA1013, #4D45CF);
    background-repeat: repeat-y;
    background-position: center top;
    border-radius: 5px;
    margin: auto;
    box-shadow: 5px 3px 4px rgba(0, 0, 0, 0.5);
}

.dailyTxt a{
    text-decoration: none;
    color: #0E30E9;
    margin:0;
}

/* Style for each section (Cracking Good Food and Banter & Brews) */
.dailyContentMonday h2, .dailyContentMonday p {
    margin:0 10px;
    padding: 10px;
}

.dailyContentTuesday {
    margin-top: 20px;
    margin-bottom: -15px;
}

.dailyContentTuesday .bNb {
    width: 60%;
    max-width: 400px;
    border-style: solid;
    border-color: black;
    border-width:2px;
    border-radius: 5px;
    box-shadow: 5px 3px 4px rgba(0, 0, 0, 0.5);
}

.dailyContentWednesday {
    margin: 20px;
}

.dailyContentThursday {
    margin: 20px;
}

.dailyContentFriday h2{
    color: #367A3F;

}

.dailyContentFriday p {
    padding: 10px;
    width:70%;
    margin: auto;    
}

.dailyContentTuesday a{
        color: #0E30E9;
        text-decoration: none;
        margin:0;
    }

.dailyContentMonday a{
        color: #0E30E9;
        text-decoration: none;
        margin:0;
    }

/*----------------- 3 inline divs with responsive flex layout styles------------- */
.eventSection{
    margin-top:5px;
}

.inlineDiv {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: #ffffff;
}

.divBox {
    display:flex;
    flex-direction:column;
    flex-basis: 30%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: #ffffff;
    background-color:  #0E89E9;
    border: solid;
    border-color: #7286f3;
    border-width: 1px;
    border-radius: 5px;
    padding: 2px;
    margin: 2px;
    box-shadow: 5px 3px 4px rgba(0, 0, 0, 0.5);
}

.divBox h3{
    color: #ffffff;
    font-size: 30px;
    margin:5px;
    padding:0px;
}

.divBox img {
    max-width: 80%;
    height: auto;
    box-shadow: 5px 3px 4px rgba(0, 0, 0, 0.5);
}


.divBox p {
    text-align: center;
    font-size: 14px;
}

.divBoxLink{
    padding:10px;
    background-color: #0E30E9;
    border-radius: 5px;
    align-self: flex-end;
    margin:0px auto;
}

.divBoxLinkGallery{
    padding:10px;
    background-color: #0E30E9;
    border-radius: 5px;
    align-self: flex-end;
    margin:0px auto;
}


.divBox a:visited {
    color: #ffffff;
}

/* ------------------------------------------- Social Pages---------------------*/
.socialBtns {
    display: flex; 
    max-width: 70%;
    justify-content: space-evenly; 
    align-items: center; 
}

.socialBtns a {
    text-align: center; 
    text-decoration: none;
    color: black; 
    padding: 0 0 0 0;
    margin:0 0 0 0;
     
}

.socialLogo {
    max-width: 48px;
    display: block;
    margin: 0 auto; 
}

/*-------------------------------------------feedback section------------------*/

.feedback{
    padding-bottom:0;
}

.feedbackContent{
    display:flex;
    padding-bottom: 0px;
}
.feedbackContent p{
    margin: 20px;
}

.feedbackimg{
    flex-wrap: wrap;
    max-width: 200px;
}


/* Media queries for smaller screens */
@media (max-width: 768px) {
    
    main {
        margin:auto;
        width: 90%; /* Adjust the width for smaller screens */
    }

    .fixed-image img{
       width:10%;
    position: fixed;
    bottom: 20px;
    left: 5px;
    z-index: 9999;
}

.fixed-image img {
    width: 50px;
    height: auto; 
    border: none; 
}

    .introduction {
        text-align: center;
        display: block;
        margin: auto;
        padding: 0px;
    }
    
    .intro-content {
        padding:0 10px;
    }

    .introImg {
        width:80%; 
        margin:auto;
        flex: 1; 
    }

    .bNb {
        Width:80%;
        border-radius: 5px;
        box-shadow: 5px 3px 4px rgba(0, 0, 0, 0.5);
    }

    .dailyContentFriday h2{
        color: #367A3F;
        margin: 10px;   
    }
    
    .dailyContent1 h2{
        padding:0;
        margin-top:5px;
    }
    
    .dailyContent1 p{
        margin:10px
    }
    
    .dailyContent2 h2{
        padding:0;
        margin-top:5px;
    }
    
    .dailyContent2 p{
        margin:10px
    }
    
    .dailyTxt h3{
        padding:0;
        margin:0;
    }
    
    .dailyGroups{
        flex-direction: column;
    }

    .hubLink {
        color: #0E30E9;
        text-decoration: none;
    }
    
    .inlineDiv{
        padding-bottom:0;
    }
    
    .eventSection{
        padding:0;
    }

    .divBox {
        flex-basis: 80%;
        margin-bottom: 20px;
    }
    
    .divBoxLinkGallery{
        margin-top:0;
    }

    .socialBtns a {
        text-align: center;
        color: black;
        padding: 0 0 0 0;
        margin: 0 0 0 0; 
    }
    
    .socialBtns a img{
        width: 50%;
    }

    .feedbackContent{
        display:flex;
        flex-direction: column;
    }
    .feedbackContent p {
        margin-top: 0;
        margin-bottom: 0;
    }
    .feedback img{
    width:70%;
    margin:0;
    padding:0;
}

    footer {
        flex-direction: column;
    }


}
